.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin:24px 0;
}

.slider-item {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* @media (max-width: 390px ) {
    .slider-item {
        width:auto;
        height: auto;
        object-fit: cover;
    }
} */



.slider-item-container {
    position: relative;
  }
  
  .slider-item-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 10px 20px;
    font-size: 20px;
  }
  