.container {
    width: 100%;
 ;
  
}

.title {
    text-align: center;
    margin: 24px 0;
}

.slider-item {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media (max-width: 500px) {
    .slider-item {
        height: 300px;
    }
}

.slider-item-container {
    position: relative;
}
